.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.table td {
  padding: 0.5rem 0;
}

.loading {
  background-color: #dddddd;
  opacity: 0.5;
}

.spinner {
  position: absolute;
  top: 20rem;
  left: 50%;
}